body, html {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: NexaBold;
    src: url("/public/fonts/NexaBold.ttf") 
  }
  
  @font-face {
    font-family: NTR;
    src: url("/public/fonts/NTR-Regular.ttf");
    font-weight: 900;
  }
  
  @font-face {
    font-family: USB;
    src: url("/public/fonts/UntitledSansBold.ttf");
  }
  